{# templates/cal_template.html #}
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="calendar.css">
</head>
<body>
<div class="calendar">
    <div class="container">
        {% for entry in entries %}
        <div class="entry">
            {% if entry.date == today %}
                <div id = "today">{{entry.date.strftime("%b %d %a")}}</div>            
            {% elif entry.date < today  or entry.date.month > today.month+1 %}
                <div class = "inactive-time">{{entry.date.strftime("%b %d %a")}}</div>
            {% else %}
                {{entry.date.strftime("%b %d %a")}}
            {% endif %}
            <ul class="events">
                {% for event in entry.events %}
                <li>{{event}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    <div class="date-area">        
        <h1>{{today.year}}</h1>
        Today is {{weekdays[(today.weekday() + 1) % 7]}}, {{today.day}} of {{today.month}}
    </div>   
    <div class="weather-area">
    {% if forecast %}
        <div>
        <p>{{forecast.temperature}}°C</p> 
        <p>{{forecast.weather}}</p>
        </div> 
        <img src={{forecast.icon}}></img>       
    {% else %}
        the weather area
    {% endif %}

    </div>
    <div class="today-area">The today area</div>
</div>

</body>
</html>